// Specific CSS for your home-page
.home {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('https://res.cloudinary.com/batch-588/image/upload/v1630476590/casino-neon-background-with-roulette-slot-machine-poker-chips-falling-premium-photo_195742-683_q54vpi.jpg');
  background-size: cover;
  height: 100vh;
  /*display: flex;*/
  z-index: 1;
  margin: auto;
  text-align: center;

  .home-block{
    padding-top: 150px;
    justify-content: center;
  }

  h1{
    color: white;
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .home-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }

  .card {
    border-radius: 5px;
  }

  .dice-img, .drum-img{
    width: 286px;
    height: 160px;
    border-radius: 5px;
  }

  .btn{
    border-radius: 5px;
    width: 100%;
    background-color: #A7415C;
    border-color: #A7415C;
  }

  .card-text {
    text-align: justify;
  }

}
